/*
 * Copy Right Information : Forms Syntron 
 * Project : 鍥涙柟绮惧垱 Java EE 寮�鍙戝钩鍙� 
 * Description : 鍐呴〉閰嶈壊鏍峰紡锛屽彧鏈夊唴椤电敤鍒�
 * Author : Leo Yang 
 * Version : 1.0.0 
 * Since : 1.0.0 
 * Date : 2016-5-13
 */
.toppath {
    color: #000000;
    background:#F5F5F5;
}
.toppath .icon-gpspic
{  
	background:#F5F5F5 url(images/contentBig.png) no-repeat -76px -105px;
}
.toppath .pathtool .icon-ddppic
{
	background:#F5F5F5 url(images/contentBig.png) no-repeat -100px -105px;
}