<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ffp_batch/src/com/forms/batch/job/outward/CreditTransferOutwardBatchResponseFileProcessor.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.forms.batch.job.outward.CreditTransferOutwardBatchResponseFileProcessor"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ffp_batch"/>
</launchConfiguration>
