<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/batch_framework/src/com/forms/framework/util/EncryptUtil.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.forms.framework.util.EncryptUtil"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="batch_framework"/>
</launchConfiguration>
