<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 下载视图  -->
	<bean id="DownloadView" class="com.forms.beneform4j.web.springmvc.download.DownloadView"/>
	
	<!-- 平台配置 -->
	<bean parent="beneform4jConfig">
		<!-- 高优先级的返回值处理器  -->
		<property name="priorReturnValueHandlers">
			<list merge="true">
				<bean class="com.forms.beneform4j.web.springmvc.download.dataexport.DataExportReturnValueHandler"/>
			</list>
		</property>
		
		<!-- 拦截MapperMethod的执行，以便于生成下载数据需要的流式数据处理器 -->
		<property name="mapperMethodExecutors">
			<list merge="true">
				<bean class="com.forms.beneform4j.web.springmvc.download.dataexport.DataExportExecutor"/>
			</list>
		</property>
	</bean>
	
	<!-- Excel组件配置 -->
	<bean class="com.forms.beneform4j.excel.ExcelComponentConfig">
		<property name="emLoaders">
			<list>
				<!-- XML配置 -->
				<bean p:name="xml-loader" class="com.forms.beneform4j.excel.core.model.loader.xml.XmlEMLoader">
					<property name="locationPatterns" value="classpath:excel/beneform4j-excel*.xml"/>
				</bean>
				
				<!-- 注解配置 -->
				<bean p:name="anno-loader" class="com.forms.beneform4j.excel.core.model.loader.anno.AnnoEMLoader">
				</bean>
			</list>
		</property>
	</bean>
</beans>