<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- ======= 数据源 配置开始 ========================================= -->
	<!-- 	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/beneform4j"/> -->

<!-- 	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="${beneform4j.db.driver}" /> -->
<!-- 		<property name="url" value="${beneform4j.db.url}" /> -->
<!-- 		<property name="username" value="${beneform4j.db.username}" /> -->
<!-- 		<property name="password" value="${beneform4j.db.password}" /> -->
<!-- 	</bean> -->
	
	<bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="${beneform4j.db.driver}" />
        <property name="url" value="${beneform4j.db.url}" />
        <property name="username" value="${beneform4j.db.username}" />
        <property name="password" value="${beneform4j.db.password}" />
    </bean>
	
<!-- 	<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource"> -->
<!-- 		<property name="driverClassName" value="${mysql.db.driver}" /> -->
<!-- 		<property name="url" value="${mysql.db.url}" /> -->
<!-- 		<property name="username" value="${mysql.db.username}" /> -->
<!-- 		<property name="password" value="${mysql.db.password}" /> -->
<!-- 	</bean> -->

	<bean id="log4jdbcInterceptor" class="com.forms.beneform4j.core.dao.log.DataSourceSpyInterceptor" />  
	<bean id="dataSourceLog4jdbcAutoProxyCreator" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">  
	   <property name="interceptorNames">  
	       <list>  
	          <value>log4jdbcInterceptor</value>          
	       </list>  
	   </property>  
	   <property name="beanNames">  
	       <list>  
	          <value>dataSource</value>
<!-- 	          <value>dataSource2</value> -->
	       </list>  
	   </property>  
	</bean>
	<!-- ======= 数据源 配置结束 ========================================= -->  
	
	<!-- ======= Mybatis 配置开始  ========================================= -->
	<bean id="DialectDatabaseIdProvider" class="com.forms.beneform4j.core.dao.mybatis.provider.DialectDatabaseIdProvider"/>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" p:sqlSessionFactoryBeanName="sqlSessionFactory" p:basePackage="com.forms"
		p:annotationClass="org.springframework.stereotype.Repository"/> 
	<bean id="sqlSessionFactory" p:dataSource-ref="dataSource" class="com.forms.beneform4j.core.dao.mybatis.SqlSessionFactoryBeanForSpring"
		p:configLocation="classpath:mybatis/mybatis-config.xml" p:databaseIdProvider-ref="DialectDatabaseIdProvider">
		<property name="mapperLocations">
			<array>
				<value>classpath*:sql-mapper/beneform4j/*.xml</value>
				<value>classpath*:com/forms/beneform4j/**/*.beneform4j.xml</value>
			    <value>classpath*:com/forms/ffp/**/*.beneform4j.xml</value>
			</array>
		</property>
    </bean>                 
    
<!--     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" p:sqlSessionFactoryBeanName="sqlSessionFactory2" p:basePackage="com.forms" -->
<!-- 		p:annotationClass="org.springframework.stereotype.Repository"/>  -->
<!-- 	<bean id="sqlSessionFactory2" p:dataSource-ref="dataSource2" class="com.forms.beneform4j.core.dao.mybatis.SqlSessionFactoryBeanForSpring" -->
<!-- 		p:configLocation="classpath:mybatis/mybatis-config.xml" p:databaseIdProvider-ref="DialectDatabaseIdProvider"> -->
<!-- 		<property name="mapperLocations"> -->
<!-- 			<array> -->
<!-- 				<value>classpath*:sql-mapper/ds2/*.xml</value> -->
<!-- 				<value>classpath*:com/forms/beneform4j/**/*.ds2.xml</value> -->
<!-- 			</array> -->
<!-- 		</property> -->
<!--     </bean>      -->
	<!-- ======= Mybatis 配置结束 ========================================= -->
	
	
	<!-- ======= 事务 配置开始 ========================================= -->
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	<!-- 事务管理 -->
	<bean id="txManager" p:dataSource-ref="dataSource" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"/>
    <!-- ======= 事务 配置结束 ========================================= -->
    
</beans>
